# Note that not all variables here might be in use for your selected configuration
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=postgresql://postgres:SGPHILj35MtXRjwWZML7@containers-us-west-17.railway.app:5630/railway
# DATABASE_URL=

# Next Auth
NEXTAUTH_SECRET=i_love_to_eat_curry_chicken
NEXTAUTH_URL=http://localhost:3000

# GOOGLE SERVICES
GMAIL=codecas20@gmail.com
GMAIL_PASSWORD=jvh345354%^gj
#CLIENT_ID=
#CLIENT_SECRET=
#REDIRECT_URI=